@model IndexViewModel<DAL.Models.Manager>

@using BLL
@using SaleOfGoodsMVCApp.Models

@{
    ViewBag.Title = "List Managers";
}

<h2>List Managers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="results">
    @Html.Partial("ListPartial", Model.Elements)
</div>

<div class="btn-group">
    @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
    {
        @Ajax.RawActionLink(i.ToString(), "ListPartial", "Managers", new { page = i },
            new AjaxOptions { UpdateTargetId = "results" }, new { @class = "btn btn-default" })
    }
</div>

