@model BLL.IndexViewModel<BLL.DTO.FileInfo>

@using SaleOfGoodsMVCApp.Models

@{
    ViewBag.Title = "List FileInfo";
}

<h2>List FileInfo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <div class="form-inline">
        <label class="control-label">Manager: </label>
        @Html.DropDownList("manager", ViewBag.FileInfoViewModel.Managers as SelectList, new {@class = "form-control"})

        <input type="submit" value="FILTER" class="btn btn-primary"/>
    </div>
}
<br/>
<div id="results">
    @Html.Partial("ListPartial", Model.Elements)
</div>

<div id="pages" class="btn-group">
    @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
    {
        @Ajax.RawActionLink(i.ToString(), "ListPartial", "FileInfo", new { page = i },
            new AjaxOptions { UpdateTargetId = "results" }, new { @class = "btn btn-default" })
    }
</div>