@model PagedList.IPagedList<SaleOfGoodsMVCApp.Models.ApplicationUser>

@{
    ViewBag.Title = "List";
}

<h2>List Users</h2>
<hr />

<p>
    @Html.ActionLink("Register New User", "Register", "Account", null, new { id = "registerLink" })
</p>
<div class="form-inline">
    <input type="text" name="name" id="search" class="form-control" data-autocomplete-source='@Url.Action("AutocompleteSearch", "Admin")' />
    <input type="button" id="submit" value="Search" class="form-control btn btn-primary" />
</div>
<br />
<div id="results">
    @Html.Partial("ListPartial", Model)
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#submit').click(function (e) {
            e.preventDefault();
            var name = $('#search').val();
            name = encodeURIComponent(name);
            $('#results').load('@Url.Action("ListPartial", "Admin")?name=' + name);
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $("[data-autocomplete-source]").each(function () {
            var target = $(this);
            target.autocomplete({ source: target.attr("data-autocomplete-source") });
        });
    });
</script>

