@model BLL.IndexViewModel<BLL.DTO.Product>

@using SaleOfGoodsMVCApp.Models

@{
    ViewBag.Title = "List Products";
}

<h2>List Products</h2>
<hr/>

@using (Html.BeginForm())
{
    <div class="form-inline">
        <label class="control-label">Country: </label>
        @Html.DropDownList("country", ViewBag.ProductViewModel.Countries as SelectList, new { @class = "form-control" })

        <input type="submit" value="Filter" class="btn btn-primary" />
    </div>
}
<hr />
@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
    </p>
}
<div id="results">
    @Html.Partial("ListPartial", Model.Elements)
</div>

<div id="pages" class="btn-group">
    @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
    {
        @Ajax.RawActionLink(i.ToString(), "ListPartial", "Products", new { page = i },
            new AjaxOptions { UpdateTargetId = "results" }, new { @class = "btn btn-default" })
    }
</div>