@model IndexViewModel<BLL.DTO.Country>

@using BLL
@using SaleOfGoodsMVCApp.Models

@{
    ViewBag.Title = "List Countries";
}

<h2>List Countries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="results">
    @Html.Partial("ListPartial", Model.Elements)
</div>

<div id="pages" class="btn-group">
    @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
    {
        @Ajax.RawActionLink(i.ToString(), "ListPartial", "Countries", new { page = i },
            new AjaxOptions { UpdateTargetId = "results" }, new { @class = "btn btn-default" })
    }
</div>